#fondo {
    background-color: #E4E4E4;
}

#pokelogo{
    padding-left: 15%;
    width: 80%;

}

#match-list {
    background-color: #e4e4e4c0;
    margin-left: 2%;
    width: 40%;
}

ul {
    list-style-type: none;
    
  
    width: 100%;
}

ul:hover { background-color: #a8a8a8; color: white;}